@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family:'Gabarito', sans-serif, 'Roboto';
}